CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Visual studio and build files
/.vs/
/tests/out/
/bin/
/tests/constexpr_any/out/
/tests/constexpr_function/out/
/build/
